<h1> Create Articles</h1>

<%= form_for @article do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div>
    <%= f.text_field :content, placeholder: "Content" %>
  </div>
  <div>
    <%= f.text_field :user_id, placeholder: "User ID" %>
  </div>

  <%= f.submit "Create Article" %>
<% end %>